Users-api/node_modules
Users-api/build
Users-api/ormconfig.json
Users-api/coverage
Users-api/src/shared/env/*

# exception files
!Users-api/src/shared/env/.env.sample
!Users-api/src/shared/env/.env.test

Consumers/node_modules
Consumers/build
Consumers/coverage
Consumers/src/shared/env/*

# exception files
!Consumers/src/shared/env/.env.sample
!Consumers/src/shared/env/.env.test

