Users-api/node_modules
Users-api/build
Users-api/ormconfig.json
Users-api/coverage
Users-api/src/shared/env/*

# exception files
!Users-api/src/shared/env/.env.sample
!Users-api/src/shared/env/.env.test

src/shared/env/
