Users-api/node_modules
Users-api/build
Users-api/ormconfig.json
Users-api/coverage
Users-api/src/shared/env/*

# exception files
!Users-api/src/shared/env/.env.sample
!Users-api/src/shared/env/.env.test

LogHistory-api/node_modules
LogHistory-api/node_modules
LogHistory-api/build
LogHistory-api/coverage
LogHistory-api/src/shared/env/*

# exception files
!LogHistory-api/src/shared/env/.env.sample
!LogHistory-api/src/shared/env/.env.test
