{
  "type": "postgres",
  "host": "srv",
  "port": 5432,
  "username": "postgres",
  "password": "postgres",
  "database": "users_api_development",
  "entities": [
    "src/modules/**/typeorm/Entities/{*.ts,*.js}"
  ],
  "migrations": [
    "./src/database/migrations/{*.ts,*.js}"
  ],
  "cli": {
    "migrationsDir": "./src/database/migrations"
  }
}
