<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Seja bem vindo ao nosso banco</p>
  <p>Você será muito feliz durante sua estadia em nosso banco</p>
  
  <p>
    Obrigado!
    <br>
    <strong>Equipe {{company}}</strong>
    <br>
    <small>contato: {{companyEmail}}</small>
  </p>
</div>
